<!DOCTYPE html>

<title>Hello SecurityController!</title>

{% block body %}

<div class="example-wrapper">
    <h1>Login Page</h1>

    {% if error %}
        <span>{{ error.messageKey }}</span><br><br>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <input type="text" name="_username" value="{{ last_username }}" placeholder="Username"><br><br>
        <input type="password" name="_password" placeholder="Password"><br><br>
        <button type="submit">Login</button>
    </form>

</div>
{% endblock %}
