{% extends 'public/base.html.twig' %}

{% block title %}About E-Voting{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
{% endblock %}

{% block body %}
    <!-- Intro -->
    <section id="intro" class="wrapper style1">
        <div class="title">Error</div>

        <div class="container left">

                    ERROR:

                    {{ message }}
        </div>
    </section>
{% endblock %}
