{% extends 'public/base.html.twig' %}

{% block title %}TU Dublin E-Voting{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
{% endblock %}

{% block body %}
    <!-- Intro -->
    <section id="intro" class="wrapper style1">
        <div class="title">Upcoming Referendums</div>
        <div class="container">
            <p class="style1 center">Here are a few of the upcoming referendums that you have a say in.</p>

            <div class="referendum-container">
                <div class="ref-container-summary">
                    <h2>New SU representatives</h2>
                    <p>Vote for the new president, vice president, entertainments officer and head of clubs and societies.</p>
                </div>
                <div class="ref-container-vote">
                    <ul class="actions" style="margin-top: 0em;">
                        <li><a href="#" class="button style3 large" style="background-color: #014C6C">Vote now</a></li>
                    </ul>
                </div>
                <div class="clear-float"></div>
            </div>

            <div class="referendum-container">
                <div class="ref-container-summary">
                    <h2>New SU representatives</h2>
                    <p>Vote for the new president, vice president, entertainments officer and head of clubs and societies</p>
                </div>
                <div class="ref-container-vote">
                    <ul class="actions" style="margin-top: 0em;">
                        <li><a href="#" class="button style3 large" style="background-color: #014C6C">Vote now</a></li>
                    </ul>
                </div>
                <div class="clear-float"></div>
            </div>

            <div class="referendum-container">
                <div class="ref-container-summary">
                    <h2>New SU representatives</h2>
                    <p>Vote for the new president, vice president, entertainments officer and head of clubs and societies</p>
                </div>
                <div class="ref-container-vote">
                    <ul class="actions" style="margin-top: 0em;">
                        <li><a href="#" class="button style3 large" style="background-color: #014C6C">Vote now</a></li>
                    </ul>
                </div>
                <div class="clear-float"></div>
            </div>

            <div class="referendum-container">
                <div class="ref-container-summary">
                    <h2>New SU representatives</h2>
                    <p>Vote for the new president, vice president, entertainments officer and head of clubs and societies</p>
                </div>
                <div class="ref-container-vote">
                    <ul class="actions" style="margin-top: 0em;">
                        <li><a href="#" class="button style3 large" style="background-color: #014C6C">Vote now</a></li>
                    </ul>
                </div>
                <div class="clear-float"></div>
            </div>

        </div>
    </section>
{% endblock %}
