<form method="post" action="{{ path('proposed_referendum_delete', {'id': proposed_referendum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proposed_referendum.id) }}">
    <button class="btn">Delete</button>
</form>
