{% extends 'base.html.twig' %}

{% block title %}New Referendum{% endblock %}

{% block body %}
    <h1>Create new Referendum</h1>

    {{ include('referendum/_form.html.twig') }}

    <a href="{{ path('referendum_index') }}">back to list</a>
{% endblock %}
